



table {
  border-spacing: 0;
}
td {
  padding: 0;
}
img {
  border: 0;
}

.brand-icons {
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
}



.wrapper {
  width: 100%;
  max-width: 700px;
  background-color: #cccccc;
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: 69px;
}


.logo-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 3px;
  flex-wrap: wrap;
}

.logo-image {
  width: 150px;
}

.row-style {
  background-color: #171a1b;
  height: 8px;
}

.bannerImage {
  width: 600px;
  max-width: 100%;
}

.email-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrapper{
  height: 100vh;
  width: 100vh;
}

.iframe {

  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll;
}

.sidebar {
  display: flex;
  width: 100%;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #474d56;
  color: white;
}

.sidebar-buttons {
  font-style: sans-serif;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  background-color: #ffffff;
  border-top: none;
  padding: 10px 0;
  font-size: 16px;
  flex-grow: 1;
}

li,
a {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

.white-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  margin-top: -3px;
}

.email-container img {
  width: 130px;
}

.custom-design {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #26292b;
  color: #ffffff;
  text-align: center;
  flex-wrap: wrap;
}

.custom-design-text {
  width: 300px;
}

.custom-design-image {
  margin-right: 20px;
  width: 220px;
  max-width: 220px;
}

.button {
  background-color: #ffffff;
  color: #171a1b;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
}
