.user-row .email-options {
  flex: 0.1;
}

/* .email-row.selected {
  background-color: rgb(71, 77, 86);
  color: white;
} */

.user-row .user-content .first-name {
  flex: 0.3;
  margin-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-row .user-content .email {
  flex: 1;
}

body {
  position: fixed;
  width: 100%;
}

.container {
  padding-top: 70px;
  margin: 0;
}

.container .config-menu {
  width: 100%;
}

section .email-list {
  float: left;
  height: 100vh;
  width: 50%;
  background-color: lightgrey;
  overflow: scroll;
}

.email-opened {
  position: relative;
  float: right;
  height: 100vh;
  width: 50%;
  overflow: scroll;
}

.email-opened iframe {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.insert-password {
    display: none;
    position: absolute;
    margin: auto;
    top: calc(50% - 70px);
    left: calc(50% - 120px);
    border-radius: 2rem;
    background-color: white;
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    z-index: 2;
}

.insert-password-display {
  display: block;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: lightcyan;
  z-index: 1;
}

.displaNone {
  display: block;
}

@media (max-width: 480px) {
  .user-row .user-content {
    flex: 1;
  }
  .user-row .email-options {
    flex: 0.2;
  }
  .user-row .email-options .email-lock {
    display: flex;
  }
}

@media (max-width: 768px) {
  .email-opened {
    display: none;
  }
  section .email-list {
    float: none;
    width: 100%;
  }
}
