table {
  border-spacing: 0;
}
td {
  padding: 0;
}
img {
  border: 0;
}

.brand-icons {
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    background-color: #cccccc;
    padding-bottom: 60px;
    margin: 0 auto;
    margin-top: 69px;
}

.logo-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 3px;
  flex-wrap: wrap;
}

.logo-image {
  width: 150px;
}

.row-style {
  background-color: #171a1b;
  height: 8px;
}

.bannerImage {
  width: 600px;
  max-width: 100%;
}

.email-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar {
  display: flex;
  width: 100%;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meniu-wrap {
  display: none;
  width: 100%;
  padding: 5px;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.hamburger {
  width: 20px;
  height: 20px;
  padding: 4px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.meniu-wrap .hamburger > div:before,
.meniu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.meniu-wrap .hamburger > div:after {
  top: 7px;
}

.meniu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.meniu-wrap .toggler:checked + .hamburger > div:before,
.meniu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.meniu-wrap .toggler:checked:hover + .hamburger > div:before {
  transition: rotare(225deg);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    flex-direction: column;
    top: -100%;
    transition: all 0.2s ease;
  }

  .meniu-wrap {
    display: block;
  }

  .transition-function {
    top: 0;
  }

  .title {
    padding-top: 15px;
  }
}

.sidebar-buttons {
  font-style: sans-serif;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  background-color: #ffffff;
  border-top: none;
  padding: 10px 0;
  font-size: 16px;
  flex-grow: 1;
}

li, a {
    font-family: "Arimo", sans-serif;
  	font-weight: 500;
  	font-size: 16px;
  	text-decoration: none;
  	color: #edf0f1;
}

.white-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  margin-top: -3px;
}

.email-container img {
  width: 130px;
}

.custom-design {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #26292b;
  color: #ffffff;
  text-align: center;
  flex-wrap: wrap;
}

.custom-design-text {
  width: 300px;
}

.custom-design-image {
  margin-right: 20px;
  width: 220px;
  max-width: 220px;
}

.button {
  background-color: #ffffff;
  color: #171a1b;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
}
