@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

li,
a,
button {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 77, 86);
  padding: 20px 10%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.email-row {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 60px;
  border: 1px solid whitesmoke;
  cursor: pointer;
  background-color: #e5e5e5;
}

.email-row:hover {
  border: 1px solid rgb(71, 77, 86);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.email-row .email-content {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-row .email-content .email-sender {
  flex: 0.4;
  margin-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email-row .email-content .email-message {
  flex: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.email-row .email-options {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid grey;
}

.email-message .email-subject {
  font-weight: bold;
}

.email-message .email-text {
  color: grey;
}

.email-options .email-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-options .material-icons:hover {
  color: blue;
}

.email-options .email-delete:hover {
  color: red;
}

.email-options .email-query-stats:hover {
  color: darkgreen;
}

@media (max-width: 1024px) {
  .email-row {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .email-row {
    height: 75px;
  }
  .email-row .email-content .email-message {
    flex: 0.5;
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;
  }
  .email-row .email-message .email-text,
  .email-row .email-message .email-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 480px) {
  .email-row .email-content {
    flex: 0.5;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    min-width: 0;
  }

  .email-row .email-content .email-sender {
    margin-left: 0;
  }

  .email-row .email-content .email-message {
    padding-left: 0;
  }
}
