* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body::after {
  content: "";
  background: url("../images/backgroundImage.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(71, 77, 86);
  padding: 10px 20px;
}

.logo a img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links li {
  padding: 5px;
  padding-right: 30px;
}
.email-list {
  padding-top: 100px;
}

.email-row {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 60px;
  border: 1px solid whitesmoke;
  cursor: pointer;
  background-color: #e5e5e5;
}

.email-row:hover {
  border: 1px solid rgb(71, 77, 86);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.email-row .email-content {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-row .email-content .email-sender {
  flex: 0.4;
  margin-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email-row .email-content .email-message {
  flex: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.email-row .email-options {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid grey;
}

.email-message .email-subject {
  font-weight: bold;
}

.email-message .email-text {
  color: grey;
}

.email-options .email-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-options .material-icons:hover {
  color: blue;
}

.email-options .email-delete:hover {
  color: red;
}

.email-options .email-query-stats:hover {
  color: darkgreen;
}

@media (max-width: 1024px) {
  .email-row {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .email-row {
    height: 75px;
  }
  .email-row .email-content .email-message {
    flex: 0.5;
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;
  }
  .email-row .email-message .email-text,
  .email-row .email-message .email-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 480px) {
  .email-row .email-content {
    flex: 0.7;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    min-width: 0;
  }

  .email-row .email-content .email-sender {
    margin-left: 0;
  }

  .email-row .email-content .email-message {
    padding-left: 0;
  }

  .email-row .email-options .email-lock,
  .email-row .email-options .email-stats {
    display: none;
  }
}
