body {
  background-color: #474d56;
  background-image: url("../images/backgroundImage.jpg");
  background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  margin-top:10%;	
  position:relative;
  height: auto;
  background: white;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  border-radius: 2rem;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: lightgray;
}


.calendar-views span {
  font-size: 14px;
  font-weight: 300;
  padding: 6px 14px;
  border: 2px solid transparent;
  cursor:pointer;
}

.sidebar {
  margin-top: -20px;
  display: flex;
  width: 100%;
  
}

.sidebar-buttons {
  font-style: sans-serif;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  border-radius:0;
  background-color: #ffffff;
  border-top: none;
  padding: 10px 0;
  font-size: 16px;
  flex-grow: 1;
}

.panel-body {
  display: flex;
  height: 340px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 39px 0px 41px 26px;
}
.category {
  display: block;
  margin-top: 60%;
}
.category span:first-child {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.6;
  color: black;
  margin-bottom: 6px;
}
.category span:last-child {
  font-size: 34px;
  font-weight: 300;
  color: black;
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-left: 10%;
  position: relative;
}

.countries {
  flex: 0 0 20%;
  column-gap: 10px;
  width: 90%;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.countries table {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.countries table tr td{
	padding-right:10px;
}


.buttons {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 2%;
  margin: 20px 0;
  background-color: lightgray;
  font-weight: 600;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover {
  background-color: #474d56;
  color:white;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

@media(max-width: 1024px){
	 header{
		 z-index:1;
	 }
	 .panel{
		 margin-top:80px;
	 }
	 
	.panel-body {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 50%;
	  }
  
  .buttons button{
	  
	  margin-top:20%;
  }
}

@media only screen and (max-width: 768px) {
   header{
	   z-index:1;
   }
   
  .panel {
	margin-top:20%;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }

  .chart {
    margin-left: 0;
  }

  .chart svg {
    margin-left: 27%;
  }

  .panel-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .category {
    margin-top: 0;
    background-color: lightgray;
    border-radius: 8px;
    padding: 20px;
  }

  .countries {
    margin-right: 0;
  }

  .sidebar-buttons {
    font-size: 13px;
  }

  .buttons {
    padding: 50px;
  }

  .buttons button {
    width: 40%;
    padding: 20px;
  }

  svg {
    width: 100%;
    height: auto;
  }

  .calendar-views span {
    font-size: 14px;
    font-weight: 300;
    color: black;
    padding: 6px 10px;
    border: 2px solid transparent;
  }
}

@media only screen and (max-width: 480px) {
  .panel {
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
  .chart svg {
    margin-left: 0;
  }

  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 0;
  }

  .buttons {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  .buttons button {
    width: 50%;
    padding: 20px;
  }

  .calendar-views span {
    font-size: 14px;
    font-weight: 300;
    color: black;
    padding: 0;
    border: 2px solid transparent;
  }
}
