 <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">

 * {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #474d56;
  background-image: url("../images/backgroundImage.jpg");
  background-size: cover;
}
 
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  overflow: hidden;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: lightgray;
}
 
.title {
	font-family: cursive;
}
 
.calendar-views span {
  font-size: 14px;
  font-weight: 300;
  color: black;
  padding: 6px 14px;
  border: 2px solid transparent;
}

.sidebar {
	margin-top:-20px;
    display: flex;
    width: 100%;
}

.sidebar-buttons {
    font-style: sans-serif;
    background-color: transparent;
    border: none;
    border: 1px solid black;
    background-color: #ffffff;
    border-top: none;
    padding: 10px 0;
    font-size: 16px;
    flex-grow: 1;
}


.panel-body {
  display: flex;
  height: 340px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 39px 0px 41px 26px;
}
.category {
  display: block;
  margin-top:60%;
}
.category span:first-child {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.6;
  color: black;
  margin-bottom: 6px;
}
.category span:last-child {
  font-size: 34px;
  font-weight: 300;
  color: black;
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-left:10%;
  position: relative;
 
}
 
.countries {
  display: flex;
  justify-content: space-around;
  flex: 0 0 20%;
  column-gap: 10px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.countries table{
	text-align:center;
}

.buttons{
	padding:20px;
	display:flex;
	justify-content:space-around;
}

button{
	padding:2%;
	margin: 20px 0;
	background-color: lightgray;
	font-weight: 600;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: "Amazon Ember",sans-serif;
	font-size: 13px;
	line-height: 29px;
	padding: 0 10px 0 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

button:hover {
  background-color: #f7fafa;
}


button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
